_We're going to be using pandas an json, so lets start with that._

In [3]:
import json
import pandas as pd
import os
from pandas.io.json import json_normalize

In [34]:
!ls json
!cat Apple_20.json

Apple_20.json  Apple_26.json  Apple_28.json  Apple_29.json  Apple_2d.json
cat: Apple_20.json: No such file or directory

In [33]:
with open('./json/Apple_20.json') as json_file:
  raw_json = json.load(json_file)

raw_json

normal_json = json_normalize(raw_json) 
normal_json

,c,c_fix,ccol,cp,cp_fix,e,id,l,l_cur,l_fix,lt,lt_dts,ltt,pcls_fix,s,t
0,+7.40,7.40,chg,4.93,4.93,NASDAQ,22144,157.45,157.44,157.45,"Aug 2, 2:00PM EDT",2017-08-02T14:00:09Z,2:00PM EDT,150.05,0,AAPL

In [14]:
with open('Apple_2d.json') as json_file:
  raw_json2 = json.load(json_file)

raw_json2

normal_json2 = json_normalize(raw_json2) 
normal_json2

,c,c_fix,ccol,cp,cp_fix,e,id,l,l_cur,l_fix,lt,lt_dts,ltt,pcls_fix,s,t
0,+7.33,7.33,chg,4.89,4.89,NASDAQ,22144,157.38,157.38,157.38,"Aug 2, 1:52PM EDT",2017-08-02T13:52:07Z,1:52PM EDT,150.05,0,AAPL

In [18]:
bigdf = normal_json.append(normal_json2)

In [19]:
bigdf

,c,c_fix,ccol,cp,cp_fix,e,id,l,l_cur,l_fix,lt,lt_dts,ltt,pcls_fix,s,t
0,+7.40,7.40,chg,4.93,4.93,NASDAQ,22144,157.45,157.44,157.45,"Aug 2, 2:00PM EDT",2017-08-02T14:00:09Z,2:00PM EDT,150.05,0,AAPL
0,+7.33,7.33,chg,4.89,4.89,NASDAQ,22144,157.38,157.38,157.38,"Aug 2, 1:52PM EDT",2017-08-02T13:52:07Z,1:52PM EDT,150.05,0,AAPL

In [31]:
top_folder = "./json"
first_time = True

for filename in os.listdir(top_folder):
    filepath = top_folder + "/" + filename
    # print (filepath)

    with open(filepath) as json_file:
      raw_json = json.load(json_file)

    if (first_time):
        # print("first")
        first_time = False
        bigdf = json_normalize(raw_json) 
    else:
        # print("later")
        new_json = json_normalize(raw_json)
        bigdf = bigdf.append(new_json, ignore_index=True)
    
bigdf

,c,c_fix,ccol,cp,cp_fix,e,id,l,l_cur,l_fix,lt,lt_dts,ltt,pcls_fix,s,t
0,+7.43,7.43,chg,4.95,4.95,NASDAQ,22144,157.48,157.48,157.48,"Aug 2, 1:56PM EDT",2017-08-02T13:56:06Z,1:56PM EDT,150.05,0,AAPL
1,+7.31,7.31,chg,4.87,4.87,NASDAQ,22144,157.36,157.36,157.36,"Aug 2, 1:58PM EDT",2017-08-02T13:58:10Z,1:58PM EDT,150.05,0,AAPL
2,+7.40,7.40,chg,4.93,4.93,NASDAQ,22144,157.45,157.44,157.45,"Aug 2, 2:00PM EDT",2017-08-02T14:00:09Z,2:00PM EDT,150.05,0,AAPL
3,+7.36,7.36,chg,4.91,4.91,NASDAQ,22144,157.41,157.41,157.41,"Aug 2, 1:54PM EDT",2017-08-02T13:54:08Z,1:54PM EDT,150.05,0,AAPL
4,+7.33,7.33,chg,4.89,4.89,NASDAQ,22144,157.38,157.38,157.38,"Aug 2, 1:52PM EDT",2017-08-02T13:52:07Z,1:52PM EDT,150.05,0,AAPL